/*** Sytlesheet für indexExercise 
Am Ende Merge mit Jasmina
***/


/*** 

header 

***/

header {
    background-color: white;
    padding: 1em 2em;

    display: flex;
    justify-content: space-between;
  }

  header nav {
    color: black;
    display: flex;
    justify-content: space-around;
    height: 48px;

  }
  .icon {
    margin-top: 12px;
    height: 1.7em;
    padding: 7px;
  }

  .iconk {
    height: 14px;
    margin-left: 3px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
  }
  
  header nav li {
    margin-left: 5px;
    display: inline;
    cursor: pointer;
  }

  /* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: black;
  }


/*** 

main 

***/

main {
    background-color: #F2F2F2;
    margin: 0;
    padding: 2em;

    display: flex;
    flex-direction: column;
  }

/* Code aus "Astructio Retis AG"-Aufgabe - in jasmina css einfügen
v
*/
.section-news .card {
  border: 1px solid lightgrey;
  background: white;
  border-radius: 0.5em;
  overflow: hidden;
}

.section-news .card img {
  display: block;
  width: 100%;
}

.section-news .card .card-body {
  padding: 1rem;
}

.section-news .card h4,
.section-news .card h5 {
  margin: 0;
}

.section-news .card h5 {
  color: grey;
}

.section-news .card a,
.section-news .card a:visited {
  color: var(--color-secondary);
}

.section-news .card-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (min-width: 50em) {
  .section-news .card-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  .section-news .card {
      flex: 1;
      min-width: 25em;
  }
}
/* 
^
Code aus "Astructio Retis AG"-Aufgabe - in jasmina css einfügen
*/


/* Code Jasmina*/
.boxForm {
    width: 100%;
    padding: 1em 2em 1em 2em;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
}

/* box Übung */
.boxExercise {
     /* border: red 1px solid; */
     font-family: Arial;
 }

.boxOben{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxTitel{
    width: 100%;
}

h2{
    font-size: 16pt;
    font-weight:bolder;
}

h3{
    font-size: 14pt;
    font-weight: bold;
}

.boxButton{
    width: 100%;
}

button{
    background-color: #C8F8FF;
    border: none;
    font-size: 14pt;
    height: 3em;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.boxImage{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.boxDes{
    text-align: justify;
    font-size: 14pt;
}


/*** 

footer 

***/
footer {
  background-color: #F2F2F2;
  padding: 2em;
}

.ftitle {
  display: flex;
  justify-content: left;
}
h4 {
  font-size: 24pt;
  font-weight: bold;
}

#logo2 {
  margin-top: 9px;
  font-size: 320%;
  color: black;
}

.footerblock {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 1.5em;
}

.bold {
  font-weight: bold;
}




/***

responsive Webdesign

***/


@media (min-width: 900px) {
    /*iPad*/
    .icon {
        margin-top: 12px;
        height: 2em;
        padding: 12px;
      }
    .boxOben{
      display: grid;
      grid-template-columns: 1fr 15px 1fr;
      grid-template-areas:
      "a d b"  /* a= info titel, d=space,*/
      "c d b"; /* c= button, b=bild */
    }
    .boxTitel{
      grid-column: 1;
      grid-row: 1;
      grid-area: a;
    }
    .boxImage{
        min-width: 400px;
        width: 100%;
        height: 100%;
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-area: b;
    }
    .boxButton{
      grid-column: 1;
      grid-row: 2;
      align-self: end;
      grid-area: c;
    }
    footer {
        padding: 2em 5em;
        font-size: 13pt;
      }
  }

  @media (min-width: 1194px) {
    /*display groß*/
    .boxForm {
      padding: 2em 3em 2em 3em;
    }
    footer {
        padding: 2em 7em;
      }
      
  }

  @media (min-width: 1440px) {
    /*display groß*/
    footer {
        padding: 2em 10em;
        font-size: 14pt;
      }
  }


