/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart, Schriftgrößen oder Farben.
 * Spezifische Angaben zur Listenübersicht oder dem Eingabeformular gehören
 * stattdessen in das jeweilige Stylesheet.
 */

/*** 

ALLGEMEINES 

***/

html {
    font-family: arial;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
      grid-template-areas:
      "a"
      "b"
      "c"
      "d"; 
  }

  header{
    grid-area: a;
  }
  nav{
      grid-area:b;
  }
  main{
    grid-area: c;
  }
  footer{
    grid-area: d;
  }

.hidden {
    display: none;
}

  /*** 
  
  Header 
  
  ***/

  header {
    background-color: white;
    padding: 1em 2em;

    display: flex;
    justify-content: space-between;
  }

  .icon nav{
    margin-top: 12px;
    height: 1.7em;
    padding: 7px;
  }
  
  h1 {
    font-size: 28pt;
    font-weight: bold;
  }

 /* nav und links für header*/
 .buttonicon {
    color: black;
    display: flex;
    justify-content: space-around;
    height: 48px;
  }
  .buttonicon ul {
    list-style: none;
    display: flex;
  }
  .buttonicon li {
    margin-left: 5px;
    display: inline;
    cursor: pointer;
  }

    /* unvisited link */
    a:link {
        color: black;
        text-decoration: none;
      }
    
      /* visited link */
      a:visited {
        color: black;
      }
      
      /* mouse over link */
      a:hover {
        color: black;
        text-decoration: underline;
      }
      
      /* selected link */
      a:active {
        color: black;
      }


/* NAVIGATION */

#app-menu {
    user-select: none;
    color: black;
    display: flex;
    justify-content: space-between;
}

 #app-menu ul {
    list-style: none;
    display: flex;
  }
  #app-menu li {
    margin-left: 5px;
    display: inline;
    cursor: pointer;
  }



/* nav.non-interactive a:hover {
    cursor: default;
} */




/*** 

main 

***/

main {
    background-color: #F2F2F2;
    margin: 0;
    padding: 2em;
  
    display: flex;
    flex-direction: column;
  }

/*** 

footer 

***/
footer {
  background-color: #F2F2F2;
  padding: 2em;
}

.ftitle {
  display: flex;
  justify-content: left;
}
h4 {
  font-size: 24pt;
  font-weight: bold;
}

.footerblock {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 1.5em;
}

.bold {
  font-weight: bold;
}



/***

responsive Webdesign

***/

@media (min-width: 900px) {
    /*iPad*/
    .icon {
      margin-top: 12px;
      height: 2em;
      padding: 12px;
    }
    footer {
        padding: 2em 5em;
        font-size: 13pt;
      }
  }
  
  @media (min-width: 1194px) {
    /*display groß*/
    footer {
        padding: 2em 7em;
      }      
  }
  
  @media (min-width: 1440px) {
    /*display groeßer*/
    footer {
        padding: 2em 10em;
        font-size: 14pt;
      }
  }
  
