/*** Sytlesheet spezielle für indexExercise ***/


/*** 

header 

***/



.iconk {
  height: 14px;
  margin-left: 3px;
}
  


/*** 

main 

***/
/* test */

/* .boxExercise {
  border: red 1px solid;
  font-family: Arial;
} */

.boxForm {
  width: 100%;
  padding: 1em 2em 1em 2em;
  box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.boxOben{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxTitel{
    width: 100%;
}

.boxButton{
    width: 100%;
}

button{
    background-color: #C8F8FF;
    border: none;
    font-size: 14pt;
    height: 3em;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.boxImage{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.boxDes{
    text-align: justify;
    font-size: 14pt;
}



h2{
  font-size: 16pt;
  font-weight:bolder;
}

h3{
  font-size: 14pt;
  font-weight: bold;
}







/*** 

footer 

***/





/***

responsive Webdesign

***/


@media (min-width: 900px) {
    /*iPad*/
    .boxOben{
      display: grid;
      grid-template-columns: 1fr 15px 1fr;
      grid-template-areas:
      "a d b"  /* a= info titel, d=space,*/
      "c d b"; /* c= button, b=bild */
    }
    .boxTitel{
      grid-column: 1;
      grid-row: 1;
      grid-area: a;
    }
    .boxImage{
        min-width: 400px;
        width: 100%;
        height: 100%;
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-area: b;
    }
    .boxButton{
      grid-column: 1;
      grid-row: 2;
      align-self: end;
      grid-area: c;
    }
  }

  @media (min-width: 1194px) {
    /*display groß*/
    .boxForm {
      padding: 2em 3em 2em 3em;
    }
  }

  @media (min-width: 1440px) {
    /*display groß*/
   
  }


